/* Réinitialisation des styles de base */
body, html, h1, h2, h3, p, div {
    margin: 0;
    padding: 0;
}

/* Style de base pour la page */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.chat-container {
    border-radius: 10px;
    background-color: white;
    position: fixed;
    margin-bottom: -26%;
    bottom: 0;
    right: 20px;
    width: 20%;
    transition: 0.5s;

}

.chat-container:hover {
    transform: translateY(-95%);
}

.chat-header {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;

    background-color: rgb(51, 45, 93);
    color: #fff;
    padding: 10px;
    text-align: left;
    padding-left: 30px;
    font-weight: bold;
}

.chat-messages {
    padding: 10px;
    max-height: 300px;
    overflow-y: scroll;
}

.message {
    color: black;
    margin-bottom: 10px;
}

.message2 {
    color: black;
    margin-bottom: 10px;
}

.test {
    display: flex;
    justify-content: flex-end;
}


.message-sender {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    text-align: right;
    color: rgb(161, 158, 158);
}

.message-sender2 {
    padding-left: 5px;
    max-width: 50%;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: left;
    color: rgb(161, 158, 158);
}

.date {
    padding-right: 15px;
    margin-bottom: 10px;
    text-align: right;
    font-size: small;
    color: rgb(161, 158, 158);
}

.date2 {
    padding-left: 5px;
    width: 50%;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
    font-size: small;
    color: rgb(161, 158, 158);
}



.chat-input {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
}

.message-content {
    max-width: 50%;
    width: fit-content;
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;


    color: white;
    background-color: orange;
}

.message-content2 {
    max-width: 50%;
    width: fit-content;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 100px;
    background-color: rgb(212, 212, 212);
    text-align: left;
    color: black;
    margin-bottom: 10px;
}

#message-input {
    flex: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#send-button {
    background-color: orange;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
}
