body{
    margin: 0;
}

.main{
    width: 100%;
    height: 100vh;
    
}

.img1{
    position:absolute;
    width: 100%;
    height: 100%;;
    top: 0;
  
}

.span1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size:64px;
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: red;
}



.img2{
    margin:1%;
    width: 30%;
    height: 50vh;
    background-color:orangered;
}

.img3{
    margin:1%;
    width: 20%;
    height: 50vh;
    background-color:orangered;
}

.img4{
    margin:1%;
    width: 20%;
    background-color:orangered;
}