

#espace {
  color: opacity;
}

body {
  background-image: url(https://bin.smwcentral.net/u/24573/ghost%2Bhouse_night1.png);
  background-color: rgb(26, 26, 56);
  color: white;
  font-family: avenir;
  background-size: cover;
}

.background img{
  position: relative;
  color: white;
  width: 100%;
  opacity:100%;
  
}
span {
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif ;
}


.static {
  width: 250px;
  border: 0px solid violet;
  text-align: center;
}
.absolute {
  position: absolute;
  top: 30px;
  left: 1250px;
  width: 600px;
  border: 0px solid blue;
  text-align: center;

}


.boite{
  height: 40px;
  width: 500px;
  color: gray;
  font-size: larger;
  position: relative;
  background-color: #062C5E;
  border-color:rgb(18, 15, 41) ;
  border-radius: 5px;
  border: 0
}

.connexion {
  background-color: orange;
  text-decoration: none;
  border: 10px solid orange;
  color: white;
  margin-left: 36.5%;
  font-size: larger;
  position: relative;
  padding-left: 3px;
  border-radius: 5px;
}
