table,
td {
  border: 1px solid white;
  position: relative;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif ;
  border-inline: 0px;
  border-top: 0;

}

thead,
tfoot {

  background-color: orange;
  color: #fff;
  
}
table {
    width: 1500px;
    height: 200px;
    text-align: center;
}

.titre {
    background-color: rgb(26, 26, 56);
}

.case {
    background-color: #3B0661;
}

.scores .content{
  font-size: larger;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top:50px;
}

.scores .background img{
  position: relative;
  color: white;
  width: 100%;
  opacity:100%;
  
}

.scores body {
  background-image: url(https://bin.smwcentral.net/u/24573/ghost%2Bhouse_night1.png);
  background-color: rgb(26, 26, 56);
  color: white;
  font-family: avenir;
  background-size: cover;
}

